.normal___2M-6v{font-family:Georgia,sans-serif;text-align:center}.title___7IVVB{font-size:2.5rem;font-weight:400;letter-spacing:-1px;background:#483d8b;padding:.6em 0;color:#fff;margin:0}
.normal___1Mxp8{font-family:Georgia,sans-serif;margin-top:4em;text-align:center}.list___1ZSRy code{background:#f7f7f7}
.normal___1shlq{font-family:Georgia,sans-serif;margin-top:4em;text-align:center}.list___XIGgN code{background:#f7f7f7}
#root,body,html{height:100%}body{margin:0}
